html{
    background-color: #212121;
}

/*Navigation Section*/

#navBar,#navBarMobile{
    background-color: rgba(238, 238, 238, 0.5);

    padding-top: 15px;
    padding-bottom: 15px;
}
#navSidebar{
    width: 100%;

    background-color: rgba(33, 33, 33, 0.45);
    color: #eeeeee;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    z-index: 5;
}

#sidebarButton{
    background-color: rgba(0, 0, 0, 0);
}
