html{
    background-color: #212121;
}

/*Navigation Section*/
#navBar,#navBarMobile{
    background-color: rgba(238, 238, 238, 0.5);

    padding-top: 15px;
    padding-bottom: 15px;
}
#navSidebar{
    width: 100%;

    background-color: rgba(33, 33, 33, 0.45);
    color: #eeeeee;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    z-index: 5;
}
#sidebarButton{
    background-color: rgba(0, 0, 0, 0);
}


/*Background Image One*/
#image-one{
    position: relative;
    background-color: #1c7982;

    width: 100%;
    height: 850px;
}

#section-one{
    position: absolute;
    background-color: rgba(238, 238, 238, 0.85);

    top: 725px;

    width: 100%;
    height: 400px;

    z-index: 3;
}

/*Background Image Two*/
#image-two{
    position: relative;
    background-color: #8f9544;

    width: 100%;
    height: 850px;
}

#section-two{
    position: absolute;
    background-color: rgba(238, 238, 238, 0.85);

    top: 1470px;

    width: 100%;
    height: 400px;

    z-index: 3;
}

/*Background Image Three*/
#image-three{
    position: relative;
    background-color: #954464;

    width: 100%;
    height: 850px;
}

#section-three{
    position: absolute;
    background-color: rgba(238, 238, 238, 0.85);

    top: 2150px;

    width: 100%;
    height: 500px;

    z-index: 3;
}

/*Background Image Four*/
#image-four{
    position: relative;
    background-color: #7b4495;

    width: 100%;
    height: 850px;
}

#section-four{
    position: absolute;
    background-color: rgba(238, 238, 238, 0.85);

    top: 3070px;

    width: 100%;
    height: 400px;

    z-index: 3;
}

/*Footer*/
#footer{
    position: relative;
    background-color: #212121;

    width: 100%;
    height: 250px;
}


/*Media Query for increasing height of elements when smaller than 500px*/
@media only screen and (max-width: 600px) {
  #image-one{
      height: 1050px;
  }
  #image-two{
      height: 1050px;
  }
  #image-three{
      height: 1050px;
  }
  #image-four{
      height: 1050px;
  }
  #section-one{
      height: 700px;
  }
  #section-two{
      height: 700px;
      top: 1870px;
  }
  #section-three{
      height: 700px;
      top: 2850px;
  }
  #section-four{
      height: 500px;
      top: 3775px;
  }
}

@media only screen and (min-width: 1920px) {
  #image-one{
      height: 950px;
  }
  #image-two{
      height: 950px;
  }
  #image-three{
      height: 1050px;
  }
  #image-four{
      height: 1150px;
  }
  #section-one{
      height: 550px;
  }
  #section-two{
      height: 500px;
      top: 1700px;
  }
  #section-three{
      height: 550px;
      top: 2650px;
  }
  #section-four{
      height: 550px;
      top: 3620px;
  }
